{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>Temperature Teller Web App by Girish </h2> 
            <input type="text" name="city"   placeholder="enter city name" required/> <br>
            <br><input type="submit" value="find temperature"/> <br>
            <h3 id="temp">{{msg}}</h3>
        </form>
    </center>

</body>
</html>